th.date, td.date {
    width: 120px;
}

th.label {
    width: 120px;
}

select.custom-select {
    height: 34px;
}

input.number {
    width: 55px!important;
}

td.calendar-day {
    height: 120px;
    width: 14.28571428571429%
}

td.calendar-day button {
    height: 26px;
}
