th.date, td.date {
    width: 120px;
}

th.week-number, td.week-number {
    width: 5%;
}

input[type=date] {
    width: 180px;
}

th.label {
    width: 120px;
}

input.number {
    width: 55px !important;
}

input[name=intervalnumber] {
    max-width: 70px;
}

select[name=intervaltype] {
    max-width: 150px;
}

td.calendar-day {
    height: 120px;
    width: 13.57142857142857% !important;
}

td.calendar-day button {
    min-height: 26px;
}

button.employee-presence {
    z-index: 1000;
    opacity: 1!important;
}

td.full, th.full {
    width: 150px;
}

button.full {
    width: 30px;
}

button.day-1 {
    z-index: 1000;
    opacity: 1!important;
    width: -moz-calc(100% - 8px);
    width: -webkit-calc(100% - 8px);
    width: -o-calc(100% - 8px);
    width: calc(100% - 8px);
}

button.day-2 {
    z-index: 1000;
    opacity: 1!important;
    width: -moz-calc(200% - 8px);
    width: -webkit-calc(200% - 8px);
    width: -o-calc(200% - 8px);
    width: calc(200% - 8px);
}

button.day-3 {
    z-index: 1000;
    opacity: 1!important;
    width: -moz-calc(300% - 8px);
    width: -webkit-calc(300% - 8px);
    width: -o-calc(300% - 8px);
    width: calc(300% - 8px);
}

button.day-4 {
    z-index: 1000;
    opacity: 1!important;
    width: -moz-calc(400% - 8px);
    width: -webkit-calc(400% - 8px);
    width: -o-calc(400% - 8px);
    width: calc(400% - 8px);
}

button.day-5 {
    z-index: 1000;
    opacity: 1!important;
    width: -moz-calc(500% - 8px);
    width: -webkit-calc(500% - 8px);
    width: -o-calc(500% - 8px);
    width: calc(500% - 8px);
}

button.day-6 {
    z-index: 1000;
    opacity: 1!important;
    width: -moz-calc(600% - 8px);
    width: -webkit-calc(600% - 8px);
    width: -o-calc(600% - 8px);
    width: calc(600% - 8px);
}

button.day-7 {
    z-index: 1000;
    opacity: 1!important;
    width: -moz-calc(700% - 8px);
    width: -webkit-calc(700% - 8px);
    width: -o-calc(700% - 8px);
    width: calc(700% - 8px);
}
