<%- include ../header.ejs %>

<form action="/personnel/add" method="post">
    <p>First name : <input type="text" name="first_name"/></p>
    <p>Last name : <input type="text" name="last_name"/></p>
    <p><input type="submit" value="Create"/></p>
</form>
